@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");

.fontNegr {
    font-weight: 600 !important;
}

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
}

label {
    color: #333 !important;
}

.plan__servicesText a {
    color: #333 !important;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    pointer-events: none;
    opacity: 1 !important;
}

h1 {
    font-size: 2em !important;
    font-weight: bold !important;
}

h2 {
    font-size: 1.5em !important;
}

h3 {
    font-size: 2em !important;
}

h4 {
    font-size: 1.3em !important;
}

h5 {
    font-size: 1.2em !important;
}

.hero__container h1 {
    font-size: 3em !important;
    font-weight: none !important;
}

body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    text-align: center;
}

.hero-container-label {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.hero {
    width: 100%;
    height: 900px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    margin-bottom: 10px;

}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    background-image: linear-gradient(180deg, #000000a9 0%, #000000b9 100%), url('/IMG/Fondo.jpeg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 70% 100%, 30% 100%, 0 85%);
    z-index: -1;
}

/* nab */

.nab__items {
    border-right: 1px solid #000;
    padding-right: 10px;
}

.nab__items:last-child {
    border-right: none;
    padding-right: 0;
}

.nab {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nab__title {
    font-size: 150%;
    font-weight: 12000;
}

.nab__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nab__items {
    list-style: none;
    border-right: 1px solid #ffffff;
    padding-right: 10px;
}

.nab__items:last-child {
    border-right: none;
    padding-right: 0;
}

.nab__links {
    color: #FFF;
    text-decoration: none;
}

.nab__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nab__img {
    display: block;
    width: 30px;
}

.nab__close {
    display: var(--show, none);
}

.nab li a:hover {
    background-color: #FF6A00;
    border-radius: 12px;
}

.nab li a {
    background-color: #40404000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

/* Hero container */

.hero__container {
    max-width: 100px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    text-align: center;
}

.hero__title {
    font-family: 'Francois' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 500% !important;
}

.hero__paragraph {
    margin-top: 50px !important;
    margin-bottom: 100px !important;
}

.cta {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cta {
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    font-family: 'Francois' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    background-color: #FF6A00;
    height: 60px;
    line-height: 60px;
    text-align: center;
    padding: 0px 50px;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
    text-transform: capitalize;
}

.cta::after,
.cta::before {
    content: '';
    background-color: rgb(202, 119, 40);
    height: 50%;
    width: 0;
    position: absolute;
    transition: 0.3s cubic-bezier(.785, .135, .15, .86);
    -webkit-transition: 0.3s cubic-bezier(.785, .135, .15, .86);
    z-index: -1;
}

.cta:hover::before {
    width: 100%;
    right: 0;
    left: auto;
}

.cta::before {
    top: 0;
    left: 0;
    right: auto;
}

.cta:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.cta::after {
    bottom: 0;
    right: 0;
    left: auto;
}

.sedes {
    font-family: 'Francois' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    text-align: center;
}

img {
    max-width: 100%;
}

.cuadro {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    position: relative;
    max-width: 1000px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
    animation-name: autoplay;
    animation-duration: 6.5s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

.item-slide {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
}

.pagination {
    position: absolute;
    bottom: 20px;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.pagination-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    background: #FF6A005e;
    margin: 0 10px;
    text-align: center;
    transition: all 300ms;
}

.pagination-item:hover img {
    transform: scale(2);
}

.pagination-item img {
    display: inline-block;
    max-width: none;
    height: 100%;
    transform: scale(1);
    opacity: 0;
    transition: all 300ms;
}

.pagination-item:hover img {
    opacity: 1;
    transform: scale(1);
}

/***************************************** plan_container *************************************************************/

.plan_container {
    text-align: center;
}

.subtitle {
    margin-top: 0px;
    font-family: 'Francois' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    text-align: center;
}

.plan__table {
    padding-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: center;
    align-items: center;
}

.plan__element {
    background: linear-gradient(to bottom, #FF6A00, #DC2813);
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: rgb(255 255 255 / 75%);
    --color-plan: #fff;
    --bg-cta: #fff;
    --color-cta: #FF6A00;
    --color-items: #fff;
}

.plan__element--best {
    padding: 60px 40px;
    background: linear-gradient(to bottom, #FF6A00, #DC2813);
    --color-plan: rgb(255 255 255 / 75%);
    --color-plan: #fff;
    --bg-cta: #fff;
    --color-cta: #FF6A00;
    --color-items: #fff;
}

.plan__name {
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.plan__plan {
    font-size: 2.5rem;
    color: var(--color-plan);
}

.hr {
    margin-bottom: 8px;
}

.plan__items {
    margin-top: 15px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 15px;
    color: var(--color-items);
}

.plan__marca {
    font-size: 1rem;
    color: var(--color-plan);
}

.plan__cta {
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.text {
    width: auto;
    height: auto;
    padding-bottom: 20px;
    margin: auto;
}

.tables {
    width: 800px;
    height: 560px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
}

/********************************************************************************* ABOUT ******************************************************************************************/
.about {
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    width: 96.9%;
    height: 680px;
    margin: 0;
}

.about__paragrah {
    justify-content: center;
    padding: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-size: 13px;
    padding-bottom: 25px;
}

.subtitle {
    padding-top: 10px;
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 15px;
}

.about__main {
    padding-top: 10px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.aboutIcons2,
.aboutIcons3,
.aboutIcons1 {
    background-color: #f5f8ff;
    padding: 5px;
    display: grid;
    gap: 1em;
    justify-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.about__icon1 {
    width: 40px;
}

/*********************************************************************************** Services ***********************************************************************************/

.plan__services {
    max-width: 100%;
    height: auto;
    align-items: center;
}

.services {
    justify-content: space-around;
    margin-bottom: 20px;
    display: flex;

}

.plan__services ul {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* Alinea verticalmente el contenido en columnas */
    align-items: center;
    /* Centra verticalmente el contenido */
    justify-content: center;
    /* Centra horizontalmente el contenido */
}

.servicesContent {
    flex: 2;
    display: grid;
    flex-direction: column;
    align-items: center;
}

.collapsible-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    justify-content: center;
    border-bottom: 0 !important;
}

.collapsible-border {
    border-bottom: 2px solid #ddd !important;
    border-top: 2px solid #ddd !important;
}

.active {
    color: #FF6A00 !important;
}

.servicesP {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    color: #333;
    font-size: 24px;
}

/********************************************************Plan__Grupal ********************************************************/

.Text {
    color: #000 !important;
    text-justify: inter-word !important;
}

.serv {
    margin-top: 28px;
}

.Plan__Grupal {
    background-color: #f5f8ff;
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
    height: 300px;
    margin-bottom: 30px;
}

.Plan__Grupal__container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.Plan__Grupal__picture {
    width: 100vw;
    margin: auto;
    padding-top: 20px;
}

.Plan__Grupal__text {
    line-height: 1.7;
    margin-bottom: 15px;
}

.Plan__Grupal__img {
    margin: auto;
    display: block;
    border-radius: 8px;
}

.Plan__Grupalcta {
    display: inline-block;
    background-color: #FF6A00;
    justify-self: center;
    color: #fff;
    padding: 13px 30px;
    border-radius: 32px;
}

/******************************************************************** Footer **********************************************************************/
.footer {
    width: 100%;
    height: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.company-name {
    font-size: 20px;
    padding-top: 20px;
}

.footer-redes {
    margin: auto;
    display: flex;
    padding-left: 48% !important;
}

.footer-redes li {
    padding-right: 30px;
    padding-top: 5px;
    font-size: 20px !important;
}

.footer-redes a {
    color: #FF6A00;
}

.footer hr {
    width: 50%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer p {
    margin-bottom: 15px;
}

/********************************************************/

.container-categorias {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.categorias {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.card-categorias {
    align-items: center;
    height: 210px;
    display: flex;
    flex-direction: column;
    margin: 40px;
    transition: all .3s;
}

.categoria-imagen {
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background: #FF6A00;
    display: FLEX;
    justify-content: CENTER;
    align-items: center;
    background-size: cover;
    background-position: center center;
}

.categoria-imagen img {
    width: 160px;
    height: 150px;
    background-size: cover;
    background-position: center center;
}

.card-categorias h1 {
    border-block-end: 3px solid #FF6A00 !important;
    font-size: 20px;
    margin: auto;
    opacity: 1 !important;
}

.card-categorias:hover {
    margin: 20px 40px 40px 40px;
    transition: all .3s;
}

.card-categorias a {
    text-decoration: none;
    text-align: center;
    color: black;
}

/********************************************************************************/
.catalogo {
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-block-end: 40px;
}

.filtro {
    background: white;
    flex-direction: column;
    color: rgb(0, 0, 0);
    height: 1000px;
    padding: 30px;
    border-radius: 2px;
    margin: 0 20px 0 40px;
}

.filtrar {
    border-block-end: 1px solid #ebebeb;
}

.filtrar h2 {
    margin: 10 0 10px 0;
}

.Marca {
    margin: 10px 150px 20px 0px;
    border-block-end: 1px solid #ebebeb;
    padding: 0px 0px 28px 0;
    width: 100%;
}

.Categoria {
    margin: 10px 150px 20px 0px;
    border-block-end: 1px solid #ebebeb;
    padding: 0px 0px 28px 0;
    width: 100%;
}

.Condicion {
    margin: 10px 150px 20px 0px;
    width: 100%;
}

.Marca input {
    accent-color: #FF6A00;
    height: 10px;
    font-size: 20px;
    padding: 10px;
}

.Categoria input {
    accent-color: #FF6A00;
    height: 10px;
    font-size: 20px;
    padding: 10px;
}

.Condicion input {
    accent-color: #FF6A00;
    height: 10px;
    font-size: 20px;
    padding: 10px;
}

input[type="checkbox" i] {
    cursor: pointer;
    padding-left: 100px !important;
    margin: 0 11px 0 0;
    transform: scale(2.0);
}

.cargar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnmas {
    width: 40%;
    height: 40px;
    margin: 10px 0;
    background: #FF6A00;
    font-weight: 800;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.checkon {
    display: flex;
    align-items: center;
    margin: 20px px 0 20px;
}

.checkon label {
    margin-left: 20px;
}

.cards {
    padding-top: 30px;
    width: 75%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 80px;

}

.card {
    width: 300px;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    overflow: hidden;
    background: white;
    border: 1px solid #dddbdb;
    transition: all .2s;
}

.card:hover {
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.2);
    transition: all .2s;
}

.card .info {
    margin: 40px 20px;

}

.card img {
    width: 100%;
    height: 200px;
}

.card h5 {
    color: #FF6A00;
}

.card h2 {
    font-size: 16px;
}

.card h3 {
    color: #FF6A00;
    margin: 10px 0;
}

.mas {
    display: none;
    transition: all .3s;
}

.cardmas {
    width: 300px;
    margin: 0 20px 20px 0;
    border-radius: 8px;
    overflow: hidden;
    background: white;
    border: 1px solid #dddbdb;

}

.cardmas .info {
    margin: 40px 20px;

}

.cardmas img {
    width: 100%;
    height: 200px;
}

.cardmas h5 {
    color: #FF6A00;
}

.cardmas h2 {
    font-size: 16px;
}

.cardmas h3 {
    color: #FF6A00;
    margin: 10px 0;
}

.btn1 {
    width: 100%;
    height: 40px;
    margin: 5px 0;
    background: #FF6A00;
    font-weight: 800;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

/**************************************************************/

.galeria-port {
    margin-left: 250px !important;
    margin-right: 250px !important;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img {
    width: 30px;
}

.hover-galeria p {
    color: #fff;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

.imagen-port>img {
    width: 10%;
    height: 10%;
    object-fit: cover;
    display: block;
}

.imagen-port {
    width: 18%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/****************************/
.verProveedoresBtnClass {
    padding-top: 10px;
}

#proveedoresList {
    padding: 20px;
    font-size: 20px;
    background-color: rgba(202, 118, 40, 0.644);
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.spac {
    padding-right: 80px;
}

.textProvee {
    margin-top: 30px;
    margin-bottom: 50px;

}

/*************************************************************************/

.busq {
    padding-right: 30px;
    width: 30px;
    padding: 10px;
    margin-top: 15px;
    height: 35px;

    border-color: black;
    border: 2px;
}

.buscar-codigo {
    display: flex;
    margin: 10px 0 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.buscar-codigo h4 {
    margin-right: 50px;
}

.buscar-codigo input {
    padding-right: 30px;
    width: 500px;
    padding: 10px;
    margin-top: 10px;
    height: 35px;
}

/*************************************LOGIN FULL************************************/
.containLogin {
    width: 70%;
    height: 450px;
    background-color: #333;
    margin: auto;
    margin-top: 8%;
    border-radius: 20px;
    justify-content: space-between;
}

.inpLogin input {
    width: 200px;
    height: 30px;
    margin: 50px;
}

.tituloLogin {
    background-color: #dab18c;
    width: 20%;
    margin: auto;

}

/*************************************************************************/
.editRepuesto {
    display: none;
    background-color: #dab18c;
    width: 1000px;
    height: 400px;
    margin: auto;
}

.contenedor-add {
    width: 100%;
    margin-top: 0;
    margin: 40px;
}

.Descripcion-producto {
    width: 100%;
}

.Contenedor-inputs {
    display: flex;
    width: 100%;
}

.Contenedor-inputs .inputsN input {
    height: 30px;
    width: 420px;
}

.Contenedor-inputs input {
    height: 30px;
    width: 200px;
}

.Contenedor-inputs .inputsN {
    font-weight: 300;
    width: 44%;
    display: grid;
}

.Contenedor-inputs .inputs {
    font-weight: 300;
    width: 22%;
    display: grid;
}

.Contenedor-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 40px 2px;
    margin-right: 400px;
}

.btnCan {
    background-color: #ff5757;
}

.btnAgre,
.btnCan {
    height: 40px;
    padding: 15px;
    color: #000;
    align-items: center;
    margin: 0 20px 0 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.Agre {
    margin-top: 30px;
}

/*************************************************************************/
.perfil {
    margin: auto;
    padding-top: 8px;
}

/***************** ListRepuestos ********************/

.repuesto-filter {
    width: 30%;
    background-color: #FF6A00;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100% !important;
}

.container-repuesto-filter {
    display: flex;
}

.cat-filter {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.input-filter {
    margin-left: 200px !important;
    display: none;
}

.input-filter:checked {
    display: flex;
}

.label-filter {
    width: auto;
    margin-right: 80px;
    margin-left: 100px !important;
    font-size: 20px;
}

/**********************CARD REPUESTOS**********************/

.repuestos-list-container {
    margin: 20px;
}

.repuestos-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.repuesto-item {
    margin: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.repuesto-image-container {
    height: 200px;
    overflow: hidden;
    background-color: #333;
}

.repuesto-image {
    width: 70%;
    height: 90%;
    object-fit: cover;
}

.repuesto-details {
    padding: 10px;
}

.repuesto-details b {
    font-size: 18px;
}

.repuesto-price {
    color: #888;
}

.repuesto-hidden {
    display: none;
}

/**********************LOADER**********************/
.img-loader {
    margin: auto;
    margin-top: 20%;
}

/**********************DETAILS**********************/

.details-contenedor-producto {
    width: 60%;
    display: flex;
    margin: auto;
    justify-content: center;
}


.details-producto {
    display: flex;
    padding: 20px;
    border-block-end: 1px solid rgb(173, 173, 173);
    background: white;
}

.details-imagen .details-img2 {
    display: none;
    height: 300px;
}

.imagen img {
    height: 70%;
    width: 1000px;
}

.info-pro {
    padding: 1px 0 0 40px;
}

.info-pro h1 {
    margin: 30px 0 30px 0;
}

.info-pro h2 {
    color: #FF6A00;
}

.contenedor-descripcion {
    width: 60%;
    margin: auto;
    margin-top: 50px;
}

.sobre {
    width: 100%;
    border-left: 6px solid #FF6A00;
}

.sobre h1 {
    margin: 0 10px;
}

.cat {
    margin-top: 40px;
    padding: 0 40px;
    background: white;
    width: 100%;
    display: flex;
    height: 80px;
    align-items: center;
}

.cat-descp {
    margin: 0 40px 0 0;
    padding: 0 40px 0 0;
    border-right: 1px solid #000000;
    cursor: pointer;
    transition: all .3s;
}

.cat-espe {
    margin: 0 40px 0 0;
    padding: 0 40px 0 0;
    border-right: 1px solid #000000;
    cursor: pointer;
    transition: all .3s;
}

.descripcion {
    text-align: left;
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
}

.especificacion {
    text-align: left;
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    display: none;
}

.contenido1 {
    background: #ebebeb;
    height: 120px;
    align-items: center;
}

.parr {
    margin-bottom: 30px;
}

.contenido1 .cate {
    width: 50%;

}

.titulo {
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.raya {
    width: 400px;
    height: 5px;
    background: #FF6A00;
}

.raya1 {
    width: 100%;
    height: 5px;
    background: #FF6A00;
}

.raya2 {
    width: 100%;
    height: 5px;
    background: #FF6A00;
    display: none;
}

.container-cards {
    justify-content: center;
    display: flex;

}

.cards2 {
    color: #FF6A00;
    width: 400px;
    height: 730px;
    margin: 40px;
    border: 1px solid rgb(221, 221, 221);
    cursor: pointer;
    transition: 0.5s;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
}

.container-cards .cards2:hover {
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(221, 221, 221);
    margin-top: 10px;
    transition: 0.5s;
}

.cards2 .ima {
    width: 400px;
    height: 500px;
}

.cards2 .contenido {
    padding: 30px;
    transition: 0.5s;
    background: white;

}

.cards2 .contenido a:hover {
    color: #FF6A00;
    cursor: pointer;
    transition: 0.5s;
}

.cards2 .contenido h3 {
    margin-top: 5px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

.cards2 .contenido a {
    transition: 0.5s;
}

.cards2 .contenido h4 {
    margin-top: 5px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

.cards2 .contenido h2 {
    margin-top: 5px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    transition: 0.5s;
}

.boton {
    margin-top: 20px;
    color: white;
    background: #FF6A00;
    width: 200px;
    height: 44px;
    border: 1px solid #FF6A00;
    border-radius: 7px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

.boton:hover {
    background: #FF6A00;
    box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    border: none;
    transition: 0.5s;
}

/**********************DATATABLE**********************/
.rol-Container {
    display: flex;
    flex-direction: column;
}

.rol-Cellvalue {
    font-weight: bold;
    font-size: small;
    text-transform: capitalize;
}

.rol-User {
    font-weight: bold;
    font-size: small;
    text-transform: capitalize;
    color: #666;
}

.action-Container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/************Datatable*************/

.container-table {
    width: 50%;
    margin-inline: auto;
}

.container-table a {
    margin-left: 10px;
}

.container-table table {
    border: 1px solid black;
}

.datatableBodega {
    margin-top: 30% !important;
}

.Bodega {
    margin-top: 10% !important;
}

/************LOGIN FULL*************/
.containLogin {
    width: 70%;
    height: 450px;
    max-width: 900px;
    background-color: #333;
    margin: auto;
    margin-top: 8%;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    min-width: 100px;
    min-height: 50vh;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.166);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.15);

    padding: 30px;
    box-sizing: border-box;
    overflow: hidden
}

.inpLogin input {
    max-width: 300px;
    min-width: 400px;
    padding: 30px 30px 30px 30px;
    font-size: 200%;
    margin-top: 65px;
    background-color: #cccccc;
    font-family: 'Overpass', sans-serif;
    color: #000000;


    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #FF6A00;

    display: block;
    height: 50px;

    margin-bottom: 100px;
    padding: 5px 5px 5px 10px;

    box-sizing: border-box;

    opacity: 5;
    filter: alpha(opacity=1);
}

.tituloLogin {
    background-color: #333;
    width: 35%;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    color: #cccccc;
    border-bottom: 1px solid #FF6A00;
    text-align: center;
    position: relative;
    top: -50px;
    left: 20px;

}

.button-login {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    font-family: 'Francois' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    background-color: #FF6A00;
    height: 50px;
    text-align: center;
    padding: 0px 20px;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
    text-transform: capitalize;
    position: absolute;
    top: 76%;
    left: 26%;
    transform: translate(-50%, -50%);
}

.register-button {
    position: absolute;
    top: 140%;
    left: -5%;
    transform: translate(20%, -100%);
    transition: all 0.3s ease;
    font-size: 20px;
    font-weight: 10;
    color: grey;
}

.Boton-Google {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
    font-family: 'Francois' Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    background-color: #FF6A00;
    height: 50px;
    text-align: center;
    padding: 0px 20px;
    z-index: 0;
    overflow: hidden;
    border-radius: 10px;
    text-transform: capitalize;
    position: absolute;
    top: 76%;
    left: 40%;
    transform: translate(-50%, -50%);
}

/************************************Registro Repuesto********************************************************/
.Registrar {
    margin: 0 auto;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    background-color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 48vh;
    transform: translateY(-49%);
}

.Registrar h1 {
    color: #FF6A00;
    text-align: center;
    margin-bottom: 9px;
}

.Registro form {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-bottom: 400px;
}

.Registrar input[type="text"],
.Registrar button {
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    width: calc(30% - 10px);
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 10px;
}

.Registrar input[type="password"],
.Registrar button {
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    width: calc(30% - 10px);
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 10px;
}

.Registrar select,
.Registrar button {
    padding: 8px;
    border: 1px solid #333;
    border-radius: 4px;
    width: calc(30% - 10px);
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 10px;
}

.Registrar button {
    padding: 8px 16px;
    background-color: #ff6a00;
    color: #ffffff;
    border: none;
    border-radius: 90px;
    cursor: pointer;
}

.Registrar button:not(:last-child) {
    margin-right: 10px;
}

.Registrar button:hover {
    background-color: #e65c00;
}

.btn-orange {
    background-color: #e65c00 !important;
    color: white !important;
}

.boton-orange {
    background-color: #e65c00 !important;
    color: white !important;
}

.buton-orange {
    background-color: #e65c00 !important;
    color: white !important;
}




@media (max-width: 800px) {
    .hero::before {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        height: 500px;
    }
}

@media (max-width: 1150px) {
    .conta {
        margin-top: 60px !important;
        margin-bottom: 40px !important;
    }
}

@media (max-width: 1000px) {
    .conta {
        margin-top: 40px !important;
        margin-bottom: 25px !important;
    }
}

@media (max-width: 1250px) {
    .hero__paragraph {
        margin-top: 40px !important;
        margin-bottom: 90px !important;
    }
}

@media (min-width: 1250px) {
    .Plan__Grupal {
        height: 320px;
    }
}

@media (min-width: 1350px) {
    .Plan__Grupal {
        height: 360px;
    }
}

@media (min-width: 1450px) {
    .Plan__Grupal {
        height: 400px;
    }
}

@keyframes autoplay {
    33.3% {
        transform: translate3d(calc(-100% * 0), 0, 0);
    }

    66.3% {
        transform: translate3d(calc(-100% * 1), 0, 0);
    }

    99.3% {
        transform: translate3d(calc(-100% * 2), 0, 0);
    }
}
 /*********details****************/
 .producto {
    position: relative;
    width: 100%;
    height: 300px; 
}

.contenido {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    z-index: 1; 
}

.contenido h1 {
    margin: 0;
}

.producto img {
    display: block;
    width: 150%;
    height: 150%;
    position: relative;
    z-index: 0; 
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0); 
}
img.materialboxed {
    width: 400px; 
    height: 400px; 
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px; 
}
.info-pro {
    text-align: center;
    margin-bottom: 20px;
    color: #000000;
}

.info-pro h1 {
    color: #000000;
    font-size: 24px;
    margin: 5px 0;
}

.info-pro h2 {
    color: #000000;
    font-size: 20px;
    margin: 0;
}

.contenedor-descripcion {
    margin-top: 20px;
}

.sobre {
    padding: 10px;
    text-align: center;
    border-left: 10px solid #e65c00; 
    color: #000000;
}

.sobre h1 {
    color: #000000;
    font-size: 20px;
    margin: 0;
}
.raya1, .raya2 {
    border-bottom: 2px solid #e65c00;
}
.producto-info {
    font-family: Arial, sans-serif;
    font-size: 60px;
    color: #333;
    text-align: center;
    margin-top: 80px; 
  }
  
  
  .precio {
    font-size: 30px;
    font-weight: bold;
    color: #e65c00;
    margin-top: 2px; 
  }
  
  
